/*-- FONTS --*/
@import 'typography/fontfaces';

/* -- MIXINS -- */
@import 'mixins';

/*-- GLOBAL --*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*-- Typography --*/

@import 'typography/typography';

/*-- Links --*/
a:hover {
	text-decoration: none;
}

/* -- Navigation Menu -- */
@import'navigation/header';

/*-- HOMEPAGE --*/
.hero {
	height: 500px;
	width: 100vw;
	margin: auto;
	
	@media all and (max-width: $breakpoint-phone) {
		height: 250px;
	}	
}

/*-- POSTS --*/

@import 'content/posts';

/*-- FOOTER --*/
@import 'navigation/footer';
