.accordion {
	margin: 5rem 0;
}

.mab_title {
	text-align: center;
	margin: 2rem 0;
}


/* Accordion styles */

.card-header {
	width: 100%;
	color: white;
	overflow: hidden;
	background-color: $dark-blue;
	
	.card-title {
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    width: 100%;
	    background-color: transparent;
	    border: none;
	    text-transform: uppercase;
	    color: $peach;
	    margin: 0;
	    padding: 0;
	    font-weight: bold;
	    font-size: 1.15rem;
	    cursor: pointer;

	
		/* Icon */	
		&::after {
		  content: "\2295";
		  font-size: 1.5rem;
		  font-weight: lighter;
		  text-align: center;
		  transition: all .35s;
		}
	}
}

.card-body {
	padding: 0.1em 1.5em;
	background-color: $light-grey;
	color: black;
}

// :checked
input:checked {
  + .question-label {
    &::after {
		content: "\2296";
    }
  }
  ~ .answer-box {
    max-height: 100vh;
    padding: 1.5em;
  }
}

