.module_content_block {
	text-align: center;
	margin: 2rem 0;
	
	ul {
		list-style: none;
		
		li {
			text-align: left;
			list-style-type: none;
			
			&:before {
			    /* Unicode bullet symbol */
			    content: '\25CF ';
			    /* Bullet color */
			    color: $peach;
			    padding-right: 0.5em;
			
				display: inline-block; /* Needed to add space between the bullet and the text */
				width: 1em; /* Also needed for space (tweak if needed) */
				margin-left: -1em; /* Also needed for space (tweak if needed) */			
			}
		}
	}

	h2{
		margin: 2rem 0;
	}

	h3{
		font-size: 1rem;
	}

	&.module_content_block--small{

		h2{
		    font-size: 1rem;
		    font-weight: normal;
		    font-family: "Montserrat Medium";
		    margin: 1rem 0;
		}

	}


	.mcb_content {

		margin: 0 0 2rem 0;

	}
	
	/*
	.mcb_title{

		margin: 2rem 0;

	}
	*/

	.grey-content-block {
		background-color: $light-grey;
		text-align: left;
		font-size: 1rem;
		padding: 50px 80px;
		
		@media all and (max-width: $breakpoint-phone) {
			padding: 2rem;
		}		
		
		h4 {
			font-size: 1rem;
			font-weight: bold;
			margin-bottom: 1rem;
		}
		
		&.green {
			h4 {
				color: $teal;
			}
			.cta_link {
				background-color: $teal;
				color: white;	
			}
		}
		
		&.navy {
				h4 {
					color: $navy;
				}
				.cta_link {
					background-color: $navy;
					color: white;	
				}
				ul {
					
					li {
						
						&:before {
						    color: black;			
						}
					}
				}
			}	
	}	
}

.small {
	font-size: 10pt;
	
}