.module_cta_feature_block {
	text-align: center;
	padding: 2rem 0;
	margin-right: -10vw;
	margin-left: -10vw;
	
	@media all and (max-width: $breakpoint-phone) {
		padding: 0;
	}
	
	img {
		height: auto;
		@media all and (max-width: $breakpoint-phone) {
			height: 200px;
		}		
	}
	
	h2 {
		height: 50px;
	}
	.mcfb_title {
		font-size: 1rem;
		font-weight: bold;
		margin: 1rem;
	}
	.mcfb_body {
		height: 125px;
		
		@media all and (max-width: $breakpoint-phone) {
			height: auto;
			padding-bottom: 1rem;
			margin: 0 auto;
			width: 80%;
		}		
	}
}

.module_cta_feature_block--partners {
	text-align: center;
	padding: 1rem 0;
	margin-bottom: 2rem;

	@media all and (max-width: $breakpoint-phone) {
		padding: 0;
		margin: 0;
	}	
	
	img {
		height: auto;
		padding: 0rem 1rem;
		
		@media all and (max-width: $breakpoint-phone) {
			height: 75px;
			margin: 2rem;
		}
	}
}

.avatar-peach {
	border: 3px solid $peach;
	border-radius: 50%;
}

.avatar-green {
	border: 3px solid $dark-green;
	border-radius: 50%;
}

.avatar-header--success-stories{
	border: 3px solid $dark-green;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.avatar--success-stories{
	border: 3px solid $dark-green;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0 1rem;
	
	@media all and (max-width: $breakpoint-phone) {
		margin: 0 auto;
	}	
	
}

 .avatar-header--success-stories h5{
 	font-weight:bold;
 }


.avatar--about{
	border: 3px solid $peach;
	border-radius: 50%;
	height: 400px;
	width:: 400px;
	margin: 2rem;
	@media all and (max-width: $breakpoint-phone) {
		height: 200px;
		width: 200px;
		margin: 1rem;
	}
}