
.membership_benefits_container{

	display: -webkit-box;
	display: flex;
	flex-wrap: wrap; 

	.membership_benefits_item {
	  flex-basis: 50%; }

	}

	.membership_benefits_list ul{
		font-family: "Lato Black";
		list-style-image: url("../images/icons/tick.png");
	}


}