
.membership_benefits_container{

	display: -webkit-box;
	display: flex;
	flex-wrap: wrap; 

	.membership_benefits_item {
	  flex-basis: 50%; 
	  margin-right: 2rem;

	}

	.membership_benefits_list ul{
		font-family: 'Montserrat Extra Bold', sans-serif;
		list-style-image: url('../images/icons/tick.png');
	}


}