.module_rich_callout_banner_block {
	text-transform: uppercase;	
	text-align: center;
	text-transform: none;
	margin-bottom: 1rem;
	margin-left: -20vw;
	margin-right: -20vw;
	padding: 40px;
	
	.mrcbb_title {
		text-transform: uppercase;
		font-weight: bold;
		@media all and (max-width: $breakpoint-phone) {
			width: 85%;
			margin: 0 auto;
		}		
	}
	
	.mrcbb_body {
		width: 50%;
		margin: 0 auto;
		@media all and (max-width: $breakpoint-phone) {
			width: 85%;
		}		
	}
}

// PRIMARY STYLE (Ambitious mint)
.mrcbb_style--primary {
	background-color: $ambitious-mint;
}

// SECONDARY STYLE (Dark blue with peach text)
.mrcbb_style--secondary {
	background-color: $dark-blue;
	color: $peach;

	& a{
		color: $peach;
		font-weight: bold;
	}
	& a:hover{
		text-decoration: underline;
	}
}

// TERTIARY STYLE (Dark green with white text)
.mrcbb_style--tertiary {
	background-color: $teal;
	color: white;
	h1 {
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		@media all and (max-width: $breakpoint-phone) {
			width: 80%;
		}		
	}
	p {
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;		
		@media all and (max-width: $breakpoint-phone) {
			width: 80%;
		}		
	}
	a {
		color: black;
	}
}
