.navbar-dark .navbar-nav .nav-link {
	text-transform: uppercase;
	color: $white;
	font-size: 11pt;
	
	&:hover {
		color: $peach;
	}
}

a.nav-link {
	margin: 0px 5px 0px 5px;
}

.login-link {
	margin-left: 1rem;
	
	@media all and (max-width: $breakpoint-phone) {
		margin-left: 0rem;
	}		
	
	a {
		display: table;
		width: 75px;
		text-align: center;
		background-color: $peach;
		color: $navy !important;
	}
} 

.navbar-brand img {
	width: 200px;
	padding: 10px 0px;
}